@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  
}

/*               .= class   #=id                  */
 
body{
   background-color: #ffd1dd !important ;
   
}



/*--------------------------------------PART(1)--------------------------------------------------------------*/

.pagePro{

   color: #ff5a86;
   font-weight: bold;
   font-size: 18px;

}

.pro_r1{
   margin: 0.5rem;
   padding: 1rem;


}

.pro_main{
   height: 200px;
   width: 200px; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   object-fit: cover;
   margin-left: 10rem;

}

.pro_contract .contact-row {
   display: flex;
   align-items: left;
   margin-bottom: 8px; 
   padding-top: 1.5rem;
}

.contract_head{
   width: 100px;

}
.contract_box{
   border: solid 3px #ff5a86;
   border-radius: 15px;
   width: 300px;
   padding-left: 0.5rem;
   background-color: #ffffff  ;
   height: 35px;
   

}



/*---------------------------------PART(2)----------------------------------------*/
.pro_r2{
   margin: 0.5rem;
   padding: 1rem;

}
/*---------------------------------PART(3)-----------------------------------------*/

.pro_r3{
   margin: 0.5rem;
   padding: 1rem;

}
.pro_des{
   margin-top: 1rem;
   border: solid 3px #ff5a86;
   padding: 1rem;
   height: 150px;
   background-color: #ffffff  ;
   border-radius: 15px;
}
